/* tablet device */
@media screen and (max-width:1024px) {
 .top-header .right-column {
    padding-right: 40px;
 }   
 .top-header .left-column {
    padding-left: 20px;
 }   
.header-section li a{
   padding-right: 20px;
}
.header-section .left-column img{
    padding-left: 20px;
}
.about-section .left-column{
    padding-left: 20px;
    padding-right: 20px;
}
.gallery-section .main-column img{
    width: 90%;
    margin: 0 auto;
}
.gallery-section .main-column{
    column-gap:0px;
}
}
/* mobile device up to 425px*/
@media screen and (max-width:640px) {
    .about-section .main-column{
    grid-template-columns:1fr;
}
.about-section{
    text-align: center;
}
    
}
