*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
 /* ----------------------------
         top-header
------------------------------*/
.top-header{
    background-color:#173a69;
    padding: 8px 0px;
}

