*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
 /* ----------------------------
         top-header
------------------------------*/
.top-header{
    background-color:#173a69;
    padding: 8px 0px;
}
.top-header .main-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top-header .right-column{
    text-align: right;
}
.top-header .left-column a{
    color:#fff;
    font-size:13px ;
    text-decoration: none;
}
.top-header .right-column a{
    color:#fff;
    font-size:13px ;
}
.top-header .left-column .phone{
    padding-right: 20px;
}
.top-header .left-column i{
    padding-right:20px ;
}
.top-header .right-column .icon{
    padding: 0px 15px;
}
 /* ----------------------------
         Header-section
------------------------------*/
.header-section .main-column{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 12px 8px 0 0;
    margin-bottom: 5px;
}
.header-section .right-column ul li {
    list-style: none;
}
.header-section .right-column a{
    text-decoration: none;
}
.header-section .right-column{
    text-align: right;
}
.header-section li{
    display: inline-block;
    padding-right: 45px;
}
.header-section li a{
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.header-section li:last-child{
    padding-right: 0px;
}
.header-section .right-column a::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    background-color: #000000;
    bottom: -35px;
    left:50%;
    transform: translateX(-50%);
    transition: .3s;
}
.header-section .right-column li:hover a:after{
    width: calc(100% + 20px);
}
/* ----------------------------
         Banner-section
------------------------------*/
.banner-section img{
    width: 100%;
}
/* ----------------------------
         Service-section
------------------------------*/
.service-section {
    text-align: center;
    padding: 80px 0;
}
.service-section .main-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 45px;
} 
.service-section h2{
    text-transform: uppercase;
    font-size:28px;
    font-weight: bold;
    padding-bottom: 20px;
}
.service-section .main-column p{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    margin-top: 15px;
}
 /* ----------------------------
         About-section
------------------------------*/
.about-section{
    background-color:#f0f0f0;
    padding: 70px 0;
}
.about-section .main-column{
    display: grid;
    grid-template-columns:1fr 1fr ;
}
.about-section .right-column h2{
    color:#000000;
    font-size:28px;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
}
.about-section .right-column img{
    padding: 20px 0;
}
.about-section .right-column p{
    font-size:15px;
    color: #747373;
    font-weight:300;
    line-height: 25px;
}
/* ----------------------------
         Gallery-section
------------------------------*/
.gallery-section{
    text-align: center;
    margin: 80px 0;
}
.gallery-section h2{
    color: #000000;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}
.gallery-section img{
    padding-bottom: 30px;
} 
.gallery-section .main-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 0px;
}
.gallery-section .btn{
    padding: 8px 18px;
    border: none;
    color:#f0f0f0 ;
    font-size: 14px;
    font-weight: bold;
    background-color: #173a69;
    text-transform: uppercase;
}
