*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
 /* ----------------------------
         top-header
------------------------------*/
.top-header{
    background-color:#173a69;
    padding: 8px 0px;
}
.top-header .main-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top-header .right-column{
    text-align: right;
}
.top-header .left-column a{
    color:#fff;
    font-size:13px ;
    text-decoration: none;
}
.top-header .right-column a{
    color:#fff;
    font-size:13px ;
}
.top-header .left-column .phone{
    padding-right: 20px;
}
.top-header .left-column i{
    padding-right:20px ;
}
.top-header .right-column .icon{
    padding: 0px 15px;
}
 /* ----------------------------
         Header-section
------------------------------*/
.header-section .main-column{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 12px 8px 0 0;
}
.header-section .right-column ul li {
    list-style: none;
}
.header-section .right-column a{
    text-decoration: none;
}
.header-section .right-column{
    text-align: right;
}
.header-section li{
    display: inline-block;
    padding-right: 45px;
}
.header-section li a{
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.header-section li:last-child{
    padding-right: 0px;
}
* ----------------------------
         Banner-section
------------------------------*/
.banner-section img{
    width: 100%;
}


